h1 {
    color: rgb(41, 41, 41);
    background-color: rgb(255, 186, 186);
}

h3 {
    color: blue;
}

p {
    background-color: rgb(183, 255, 213);
}

ul {
    background-color: rgb(140, 140, 255);
}